/* src/index.css */

/* 1. Reseteo de márgenes del navegador y congelamiento del fondo */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* 2. Asegurar que los bordes y paddings no sumen tamaño extra a las cajas */
*, *::before, *::after {
  box-sizing: border-box;
}